<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoundCloud</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container"> 
            <span class="btn-category"> 
               <img src="./images/menu-btn (1).svg" alt="Menu button" />
            </span>
        </div>
    </header>

    <main>
        <section class="mobile-block">
            <div class="mobile-block__header is-orange">
                Жанр музыки
            </div>
            <div class="container">
               <div class="category-row">
                  <div class="category-item">
                     <img src="./images/categories/music.svg" alt="Music" class=category-item__img" />
                     <span class="category-item__title">Все новости о музыке</span>
                  </div>
                  <div class="category-item">
                     <img src="./images/categories/jazz.svg" alt="Jazz" class=category-item__img" />
                     <span class="category-item__title">Джаз</span>
                  </div>
                  <div class="category-item">
                     <img src="./images/categories/rock.svg" alt="Rock" class=category-item__img" />
                     <span class="category-item__title">Рок</span>
                  </div>
                  <div class="category-item">
                     <img src="./images/categories/hip-hop.svg" alt="Hip-hop" class=category-item__img" />
                     <span class="category-item__title">Хип-хоп</span>
                  </div>
                  <div class="category-item">
                     <img src="./images/categories/electronic.svg" alt="Electronic" class=category-item__img" />
                     <span class="category-item__title">Инструментал</span>
                  </div>
                  <div class="category-item">
                     <img src="./images/categories/disco.svg" alt="Disco" class=category-item__img" />
                     <span class="category-item__title">Диско</span>
                  </div>
                  <div class="category-item">
                     <img src="./images/categories/phonk.svg" alt="Phonk" class=category-item__img" />
                     <span class="category-item__title">Фонк</span>
                  </div>
               </div>
            </div>
         </section>
    </main>

</body>
</html>