<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoundCloud</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container"> 
            <span class="btn-category"> 
               <img src="./images/menu-btn (1).svg" alt="Menu button" />
            </span>
        </div>
    </header>

    <main>
        <section class="mobile-block">
            <div class="mobile-block__header is-secondary">
                Все музыки
            </div>
            <div class="error">
                <div class="container">
                    <h3 class="error-title">Произошла ошибка</h3>
                    <p class="error-description">Проверьте подключение к интернету. Возможно сервер отключился или временно не работает.</p>
                    <button class="white-btn">Обновить</button>
                </div>
            </div>
        </section>
    </main>

</body>
</html>