<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoundCloud</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container"> 
            <span class="btn-category"> 
               <img src="./images/menu-btn (1).svg" alt="Menu button" />
            </span>
        </div>
    </header>

    <main>
        <section class="mobile-block">
            <div class="mobile-block__header is-secondary">
                Все музыки
            </div>
            <div class="all-news-block">
                <div class="news-card">
                   <div class="container">
                    <h3 class="news-card__title">Aaron Smith выпустил новый альбом</h3>
                    <span class="news-card__date">15.10.2012</span>
                    <span class="news-card__category">Music</span>
                   </div> 
                </div>
                <div class="news-card">
                    <div class="container">
                     <h3 class="news-card__title">Aaron Smith выпустил новый альбом</h3>
                     <span class="news-card__date">15.10.2012</span>
                     <span class="news-card__category">Music</span>
                    </div> 
                 </div>
                 <div class="news-card">
                    <div class="container">
                     <h3 class="news-card__title">Aaron Smith выпустил новый альбом</h3>
                     <span class="news-card__date">15.10.2012</span>
                     <span class="news-card__category">Music</span>
                    </div> 
                 </div>
                 <div class="news-card">
                    <div class="container">
                     <h3 class="news-card__title">Aaron Smith выпустил новый альбом</h3>
                     <span class="news-card__date">15.10.2012</span>
                     <span class="news-card__category">Music</span>
                    </div> 
                 </div>
                 <div class="news-card">
                    <div class="container">
                     <h3 class="news-card__title">Aaron Smith выпустил новый альбом</h3>
                     <span class="news-card__date">15.10.2012</span>
                     <span class="news-card__category">Music</span>
                    </div> 
                 </div>
                 <div class="news-card">
                    <div class="container">
                     <h3 class="news-card__title">Aaron Smith выпустил новый альбом</h3>
                     <span class="news-card__date">15.10.2012</span>
                     <span class="news-card__category">Music</span>
                    </div> 
                 </div>
                 <div class="news-card">
                    <div class="container">
                     <h3 class="news-card__title">Aaron Smith выпустил новый альбом</h3>
                     <span class="news-card__date">15.10.2012</span>
                     <span class="news-card__category">Music</span>
                    </div> 
                 </div>
                 <div class="news-card">
                    <div class="container">
                     <h3 class="news-card__title">Aaron Smith выпустил новый альбом</h3>
                     <span class="news-card__date">15.10.2012</span>
                     <span class="news-card__category">Music</span>
                    </div> 
                 </div>
            </div>
        </section>
    </main>

</body>
</html>