<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoundCloud</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container"> 
            <span class="btn-category"> 
               <img src="./images/menu-btn.svg" alt="Menu button" />
            </span>
        </div>
    </header>

    <main>
        <section class="mobile-block">
            <div class="back-button">
                <div class="container">
                     <img src="./images/back.svg" alt="Back icon" />
                     Назад
                </div>
            </div>
             <div class="container">
                <div class="post-detail-block">
                    <h3 class="news-card__title">Aaron Smith выпустил новый альбом</h3>
                    <span class="news-card__date">15.10.2012</span>
                    <p class="description">
                        Аарон Дж. Симпсон Смит (1984 г.р.) - американский диджей хаус-музыки из Чикаго, Иллинойс. Наиболее известен по записи трека под названием "Dancin'", в котором участвует вокалистка Luvli.
    
                        Трек был записан в 2004 году и ремикширован в 2005 году Джей Джей Флоресом и Стивом Смутом. Затем он дебютировал под номером 21 в чарте Billboard s Hot Dance Airplay на неделе, закончившейся 2 января 2006 года.
                        
                        В 2013 году французский дуэт Krono сделал ремикс на песню под лейблом Moody Recordings.[1] После релиза песня набрала новую волну популярности.
                        
                        В 2019 году "Dancin'" получил серебряный сертификат британской фонографической индустрии (BPI), затем золотой в 2021 году и платиновый в 2022 году.[2]
                        
                        Музыкальное видео с ремиксом Krono на песню Dancin было снято в Смаралинде, Исландия, режиссером Элваром Гуннарссоном.
                    </p>
                    <img src="./images/dancin.jpg" alt="Dancin" />
                    <div class="centered"> 
                    <audio controls class="audio-player">
                    <source src="mp3/Aaron_Smith_-_Dancin_73039632.mp3" type="audio/mpeg" />
                    Dancin.
                 </audio>
                </div>
                    <button class="tag-button">Музыка</button>
                </div>
             </div>
        </section>
    </main>

</body>
</html>